* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #1f032e;
    color: white;
}
.container-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  margin-bottom: 10%;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu li {
  float: left;
  border-right:1px solid #FFF;
}

.menu li:last-child {
  border-right: none;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover:not(.active) {
  background-color: #af86e5;
}

.menu .active {
  background-color: #af86e5;
}

main {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  
  .divaltura, .divpeso, .calcular {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input, button {
    padding: 10px;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
  }
  
  button {
    cursor: pointer;
    background-color: #af86e5;
    color: white;
  }